/* 
** The Header Media Queries **
** Tweak as per your needs **
*/
@font-face {
	font-family: "YuGothic-M";
	font-weight: normal;
	 src: local("YuGothic-Medium"),
		  local("Yu Gothic Medium"),
		  local("YuGothic-Regular");
}

@font-face {
	font-family: "YuGothic-M";
	font-weight: bold;
	 src: local("YoGothic-Bold"),
		  local("Yu Gothic");
}


body {
    font-size: 1.6rem;/* 16px */
	font-family: -apple-system, blinkMacSystemFont, YuGothic-M, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: "palt";
}

html {
	font-size: 62.5%;/* 16px x 0.625 = 10px(=1rem) */
}

.wrap {
     overflow: hidden;
 }

/*========= LoadingのためのCSS ===============*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	background:#333;
	text-align:center;
	color:#fff;
}

.wrap {
     overflow: hidden;
 }

/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#999;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}


/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/

/*========= ボタンのためのCSS ===============*/

/*ボタン全体の形状*/
.openbtn{
    /*はじめは非表示に*/
  display: none;
    /*ボタンの位置*/
  position:fixed;
  top:10px;
  right: 10px;
  z-index: 999;
    /*ボタンの形状*/
  background:#666;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタンのアイコン設定*/
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
  background-color: #fff;
    width: 45%;
  }

.openbtn span:nth-of-type(1) {
  top:15px; 
}

.openbtn span:nth-of-type(2) {
  top:23px;
}

.openbtn span:nth-of-type(3) {
  top:31px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.openbtn .active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn .active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn .active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
    animation-name: fadeDownAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: block;
}
@keyframes fadeDownAnime{
  from {
  opacity: 0;
  transform: translateY(-100px);
  }

  to {
  opacity: 1;
  transform: translateY(0);
  }
}


/*========= ヘッダーナビゲーションのためのCSS ===============*/

/*==ヘッダーの形状*/
#header{
	height: 70px;
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#333;
	color:#fff;
	text-align: center;
	padding: 30px;
}

/*.doneクラスがついたヘッダー*/
#header.dnone {
	opacity: 0;/*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
#header.dnone.panelactive {
	opacity: 1;/*不透明にして出現*/
}


/*==ヘッダーのテキストナビゲーションの形状*/
#g-navi ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

#g-navi ul li a{
	display: block;
	text-decoration: none;
	color: #666;
	padding:30px;
}

#g-navi ul li.current a,
#g-navi ul li a:hover{
	color:#fff;	
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
#header.dnone #g-navi{
    /*固定位置にして最背面に*/
    position:fixed;
	top: 0;
    left: 0;
	z-index: -1;
    /*高さと幅*/  
	width:100%;
	height: 100vh;
    /*天地中央＆テキスト中央揃え*/  
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
    /*はじめは透過0に*/  
    opacity: 0;
	transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
#header.dnone.panelactive #g-navi{
	opacity: 1;/*不透明に*/
	z-index:3;/*最前面に*/
	background:#eee;
}

#header.dnone.panelactive #g-navi ul{
	display:block;/*flexの横並びをblockにして縦並びに*/
}


/*リストの形状*/

#header.dnone.panelactive #g-navi li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
	transition:all 0.3s;
}

.section {
	margin: 0 0 2rem;
	padding: 2rem 0;
}
.section-title{
	text-align: center;
	font-size: 40px;
}
.section-area {
	margin: 0 auto;
	width: 1000px;
}
.contents-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.contents-box {
	margin-bottom: 3rem;
	padding: 3.5rem;
	width: 32%;
	background-color: #f0f0f0;
}

.contents-box img {
	display: flex;
	margin-bottom: 1rem;
	width: 90%;
	height: 90%;
    justify-content: center;
    align-items: center;
    
}

.flex{
  padding:2px 0;
  display:flex;
  justify-content:center;
}

#access{
	display: flex;
}
/*--------------------------------------------------------------
   ACCESS
--------------------------------------------------------------*/
.access{
  width: 1040px;
  margin: 0 auto;
  padding: 100px 0 125px;
  display: flex;
}
.access__box{
  margin-top: 40px;
}
.access__map{
  width: 680px;
  float: left;
}
.access__address{
  width: 340px;
  padding-left: 20px;
  box-sizing: border-box;
  float: right;
}
.access__map iframe{
  width: 100%;
  height: 425px;
  border: none;/*frameborderを消したことでborderがついてるため*/
  display:flex;
}
.access__address h3{
  margin-bottom: 23px;
  padding: 17px 0 18px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 3px #74859f;
  
}
.access__address__box,
.access__staff__message{
  font-size: 14px;
  line-height: 1.5;
  
}
.access__address__box .sup{
  margin: 20px auto;
  padding: 15px;
  background-color: #eee;
  
}
.access__address .site__link{
  font-size: 0;
  margin-top: 25px;
}
.access__address .site__link .site__link__item{
  display: inline-block;
}
.access__address .site__link .site__link__item + .site__link__item{
  margin-left: 20px;
}
.access__address .site__link a{
  display: block;
  width: 70px;
  height: 70px;
  padding: 20px 16px 0;
  box-sizing: border-box;
  background-color: #74859f;
  border-radius: 35px;
}
.access__address .site__link img{
  width: 100%;
  height: auto;
}


/* 以下は検証用のレイアウトのための CSS*/
/*title*/
.base__title{
  text-align: center;
  color: #74859f;
  font-weight: bold;
}
.base__title h2{
  font-size: 32px;
  font-weight: bold;
}
.base__title h2 div{
  font-size: 16px;
  margin-bottom: 13px;
  letter-spacing: .2rem;
}
.base__title .deco{
  width: 20px;
  height: 3px;
  margin: 18px auto 0;
  background-color: #ccc;
}



h1{
  font-size:3rem;
}


/*== ボタン共通設定 */
.btn{
    /*アニメーションの起点とするためrelativeを指定*/
    position: relative;
	overflow: hidden;
    /*ボタンの形状*/
	text-decoration: none;
	display: inline-block;
   	border: 1px solid #555;/* ボーダーの色と太さ */
    padding: 10px 30px;
    text-align: center;
    outline: none;
    /*アニメーションの指定*/   
    transition: ease .3s;
}

/*ボタン内spanの形状*/
.button {
	width: 300px;
    padding: 10px;
    font-weight: bold;
    background-color: #666;
    border: 2px solid #666;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
	white-space:nowrap;
	text-align:center;
}
.button:hover {
    background-color: transparent;
    border: 2px solid #666;
    color: #666 !important;
}

.inline-block{
  display:inline-block;
}

/* container */
.wrapper{
    width:100%;
    background-image:url("../images/20210821-SDIM2336.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
}
.wrapper .container{
    max-width:1300px;
    margin:0px auto;
    padding:140px 90px;
}
/* content */
.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    color:black;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

#footer02 {
  background: #222;
}
 
.ie #footer02 .logo img,
#footer02 .logo {
  display: inline-block;
  width: 120px;
}
 
#footer02 .nav li a {
  padding: 15px;
  color: #ccc;
}
 
#footer02 .c-btn {
  margin-left: 25px;
}
 
 
@media screen and (min-width: 641px) {
  #footer02 .logo {
    padding: 10px 0;
  }
 
  #footer02 .wrap {
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  #footer02 .cont {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
 
  #footer02 .nav {
    display: inline-block;
  }
 
  #footer02 .nav li {
    display: inline-block;
  }
 
  #footer02 .nav li a:hover {
    color: #ca353b;
  }
}
 
@media screen and (max-width: 720px){
	
  #header h1{
		font-size:2rem;
	}	
	
  #header ul{
		display:none;
	}
	
    #footer02 {
    padding: 20px 0 0;
  }
 
  #footer02 .inner-block {
    padding: 0;
  }
 
  .ie #footer02 .logo img,
  #footer02 .logo {
    display: block;
    margin: 0 auto 20px;
  }
 
  #footer02 .c-btn {
    margin-bottom: 20px;
  }
 
  #footer02 .nav li {
    border-top: 1px solid #555;
  }
 
  #footer02 .nav li a {
    padding: 12px 20px;
    display: block;
    background-size: 5px auto;
  }
 
  #footer02 .nav li:last-child {
    border-bottom: 1px solid #555;
  }
	
  #main_image {
  width : 80%; /* 画像の枠をさらに上位の枠の80%の横幅にする */
  max-width : 400px; /* サイズの上限を設定する */
  margin: 0 auto; /* 上下のマージンをゼロに、左右のマージンを自動に */
  }

  #main_image img {
  width : 100%; /* 画像を枠の100%の横幅にする */
  height: auto; /* 高さは自動で設定する */
  }

 
   .contents-wrap {
      flex-direction: column;
  }

  .contents-box {
    display: none;
    flex-direction: column;
    gap: 4vh;
    padding: 4vh

  }
	
  .wrapper .container{
  max-width:768px;
  height: 350px;
  margin:0px auto;
  padding:90px 30px;
}
  .section {
  margin: 2rem;
  padding: 2rem 0;
    }
  .section-area {
      margin: 0 auto;
      width: 800px;
  }

  .section contents-box {
      width: auto;
      margin-bottom: 1.5rem;
      padding: 1rem;

  }
	
	
	.button {
	padding: 10px 90px;
    font-weight: bold;
    background-color: #666;
    border: 3px solid #666;
    color: #fff !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
	text-align: center;
}
    .button:hover {
        background-color: transparent;
        border: 2px solid #666;
        color: #666 !important;
    }

	
  /*--------------------------------------------------------------
   ACCESS
--------------------------------------------------------------*/
.access{
  width: 500px;
  margin: 0 auto;
  padding: 100px 0 125px;
}
.access__box{
  margin-top: 20px;
}
.access__map{
  width: 300px;
 
}
.access__address{
  width: 200px;
  padding-left: 10px;
  box-sizing: border-box;
 
}
.access__map iframe{
  width: 100%;
  height: 425px;
  border: none;/*frameborderを消したことでborderがついてるため*/
  display:flex;
}
.access__address h3{
  margin-bottom: 23px;
  padding: 17px 0 18px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 3px #74859f;
  
}
.access__address__box,
.access__staff__message{
  font-size: 14px;
  line-height: 1.5;
  
}
.access__address__box .sup{
  margin: 20px auto;
  padding: 15px;
  background-color: #eee;
  
}
.access__address .site__link{
  font-size: 0;
  margin-top: 25px;
}
.access__address .site__link .site__link__item{
  display: inline-block;
}
.access__address .site__link .site__link__item + .site__link__item{
  margin-left: 20px;
}
.access__address .site__link a{
  display: block;
  width: 70px;
  height: 70px;
  padding: 20px 16px 0;
  box-sizing: border-box;
  background-color: #74859f;
  border-radius: 35px;
}
.access__address .site__link img{
  width: 100%;
  height: auto;
}

 

}
